<!DOCTYPE html>
<html>
<head>
  <title>Wapper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4122631745692784",
            enable_page_level_ads: true
       });
  </script>
  
</head>
<body>
<div class="container">
  <%= yield %>
</div>


</body>
</html>
